{% extends "app/base.html" %}

{% load static %}

{% block title %}
    Password Change
{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3 class="text-capitalize text-center mb-4">Welcome {{ request.user.username|capfirst }}</h3>

        <div class="col-sm-3 border-end">
            <ul class="list-unstyled">
                <li class="d-grid mb-2">
                    <a href="#" class="btn btn-outline-primary">Change Password</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9">
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }} {{ field }} 
                    <small class="text-danger">{{ field.errors.as_text }}</small>
                    <br>
                {% endfor %}
                
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                {% if form.non_field_errors %}
                    <div class="alert alert-danger my-3">
                        {% for error in form.non_field_errors %}
                            {{ error }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
